.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .form-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    width: 300px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-input {
    display: block;
    width: 80%;
    margin: 5px auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color:  #7146db;;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  